.root { -fx-font-size: 16px}
.selling-tab { -fx-font-size: 22px}

.sumPriceLabel {
    /*-fx-font-weight: bold;*/
    -fx-font-size: 1.5em;
}
.tool-bar {-fx-padding: .8em;-fx-spacing: .8em;}
.article-properties .button { -fx-min-width: 6em; }

.revenue-tab .table-view .table-header-cell { -fx-font-size: .8em }
.revenue-tab .table-view .table-row-cell { -fx-font-size: .8em }
.cash-mismatch-cell { -fx-text-fill: #c00; }
.expected-cash-label { -fx-font-size: .8em; -fx-text-fill: #777; }
